{% extends 'padre.html'%}
{% load static %}
{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <br>
    <br>
    <h1 >Bienvenidos a la Web Deportiva</h1>
        <p>Acá podrás encontrar toda la información de tu club</p>

    <br>
    <h3>Incribite en alguno de nuestros Deportes</h3>
    <button>Formulario De Inscripción
       
    </button>
    

    
    <!--div class="text-center">
        <img height="40px" src="{{url}}">
        <h3>Que bueno verte {{user.username}}</h3>
    </div -->

{% endblock %}