 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Resultado de la Busqueda</title>
 </head>
 <body>

    <p>Estamos buscando el: {{deporte}}</p>
    {% if deporte %}

    <ul>
    {% for curso in curso $}    
        <li>{{deporte.nombre}}</li>
        <li>{{deporte.nombre}}</li>
        <li>{{deporte.nombre}}</li>
        <li>{{deporte.nombre}}</li>
    {% endfor $}  
    </ul>

    {% endif $} 

 </body>
 </html>